<!doctype html>
<html lang="en">
    <head>
        <title>Login to <%=shopName%></title>
        <link rel="stylesheet"  type="text/css" href="main.css" />
    </head>
    <body>

    <!-- Horizontal Navbar -->
    <ul>
        <li><a class="active" href="./">Home</a></li>
        <li><a href="about">About <%=shopName%></a></li>
        <li></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Food</a>
            <div class="dropdown-content">
            <a href="foodsearch">Search for Foods</a>
            <a href="foodadd">Add Food</a>
            <a href="foodlist">List Foods</a>
            <a href="foodupdate">Update Foods</a>
            <a href="fooddelete">Delete Foods</a>
            <a href="foodhighprotein">High Protein Foods</a>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Users</a>
            <div class="dropdown-content">
            <a href="userlist">List Users</a>
            <a href="userdelete">Delete Users</a>
        <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Account</a>
            <div class="dropdown-content">
            <a href="login">Login</a>
            <a href="logout">Logout</a>
        <li><a href="register">Register with us</a></li>
        <li><a href="api">API</a></li>
        </ul>
        <!-- Horizontal Navbar -->

        <h1>Login to <%=shopName%></h1>

        <!-- Login Form -->
        <form method="POST" action="/loggedin">
            <label>Username:</label>
            <input id="username" type="text" name="username" placeholder="Username..." required/>
            <label>Password:</label>
            <input id="password" type="password" name="password" placeholder=" Password..." required/>
            <input type="submit" value="Login" />
        </form>
        <!-- Login Form -->
        
    </body>
</html>