<!doctype html>
<html lang="en">
    <head>
        <title>Login to <%=shopName%></title>
        <link rel="stylesheet"  type="text/css" href="main.css" />
    </head>
    <body>
        <h1>Login to <%=shopName%></h1>
        <form method="POST" action="/loggedin">
            <p>Username: <input id="username" type="text" name="username" placeholder="Username..." /></p>
            <p>Password: <input id="password" type="password" name="password" placeholder=" Password..." /></p>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>