<!doctype html>
<html lang="en">
  <head>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <!-- Horizontal Navbar -->
    <ul style="margin: 10px;">
      <li><a href="./">Home</a></li>
      <li><a href="./search">Search</a></li>
      <li><a href="./addbook">Add Book</a></li>
      <li><a href="./list">List Books</a></li>
      <li><a href="./bargainbooks">Bargains</a></li>
      <li><a href="./register">Register</a></li>
      <li><a href="./listusers">List Users</a></li>
      <li><a href="./deleteuser">Delete Users</a></li>
      <li><a href="./login">Login</a></li>
      <li><a href="./weather">Weather</a></li>
      <li><a href="./tvshows.ejs">TV Shows</a></li>
    </ul>
    <!-- Horizontal Navbar -->
    
    <h1>Register for <%=shopName%></h1>

    <!-- Registration Form -->
    <form method="POST" action="/registered">
      <p>Username: <input id="username" type="text" name="username" placeholder="Username..." required/></p>
      <p>First name: <input id="firstname" type="text" name="firstname" placeholder="First Name..." required/></p>
      <p>Last name: <input id="lastname" type="text" name="lastname" placeholder="Last Name..." required/></p>
      <p>Email: <input id="email" type="email" name="email" placeholder=" Email..." required/></p>
      <p>Password: <input id="password" type="password" name="password" placeholder=" Password..." required/></p>
      <input type="submit" value="Register" />
    </form>
    <!-- Registration Form -->
    
  </body>
</html>