<!doctype html>
<html lang="en">
    <head>
        <title>Welcome to <%=shopName%></title>
        <link rel="stylesheet"  type="text/css" href="main.css" />
    </head>
    <style>
        table#userlist_table tr:nth-child(even) { background-color:#dddddd;} 
        table#userlist_table {width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    </style>
    <body>

    <!-- Horizontal Navbar -->
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="about">About <%=shopName%></a></li>
        <li></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Food</a>
            <div class="dropdown-content">
            <a href="foodsearch">Search for Foods</a>
            <a href="foodadd">Add Food</a>
            <a href="foodlist">List Foods</a>
            <a href="foodupdate">Update Foods</a>
            <a href="foodhighprotein">High Protein Foods</a>
        <li class="dropdown">
            <a class="active" href="javascript:void(0)" class="dropbtn">Users</a>
            <div class="dropdown-content">
            <a href="userlist">List Users</a>
            <a href="userdelete">Delete Users</a>
        <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Account</a>
            <div class="dropdown-content">
            <a href="login">Login</a>
            <a href="logout">Logout</a>
        <li><a href="register">Register with us</a></li>
        </ul>
        <!-- Horizontal Navbar -->

        <h1><%=shopName%>: Delete User</h1>
        <!-- Delete User Form -->
        <form method="POST" action="/deleteduser">
            <label for="users">Select User for Deletion:</label>
            <p>Username: <input id="username" type="text" name="username" placeholder="Username..." required/></p>      
            <input type="submit" value="Submit" />
        </form>
        <!-- Delete User Form -->
        
        </body>
    </html>